<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.sell.dao.mapper.ProductCategoryMapper">

  <resultMap type="com.me.sell.bean.ProductCategory" id="ProductCategoryResult">
    <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
    <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    <result column="category_type" jdbcType="INTEGER" property="categoryType"/>
  </resultMap>

  <select id="selectByCategoryType"  parameterType="java.lang.Integer" resultMap="ProductCategoryResult"><!-- resultMap会有resultMap标签与其对应 -->
    select * from product_category where category_type = #{categoryType}
  </select>
  

</mapper>